@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');

/* Root Styling */

:root {

    /* Colors */
    --clr-white: #fff;
    --fill-white-transparent: #ffffff99;
    --clr-dark-blue-magenta: #556;
    --clr-imperial-primer: #223040;
    --clr-dark-knight: #111926;

    /* Fonts */
    --ff-body: "Lato", sans-serif;
    
    --fw-400: 400;
    --fw-700: 700;

    --fs-contact: 25px;
    --fs-heading: 50px;
    
}

/* CSS Reset */

    html {

        box-sizing: border-box;
        margin: 0;
        padding: 0;
        line-height: 1.2;

    }

/* Universal Styling */

    body {

        font-family: var(--ff-body);
        background-color: var(--clr-dark-knight);
        color: #fff;
        min-width: 960px;
        margin: 0;
    }

    .container {

        width: 960px;
        margin: 0 auto;

    }

/* Links Styling */

    a {
        color: inherit;
    }

    .social-links a {
        text-decoration: none;
    }

    div .social-link svg {
        fill: var(--fill-white-transparent);
        height: 30px;
        padding: 0 10px;
    }

    .logo-link {
        text-decoration: none;
        font-weight: var(--fw-700);
    }

    ul.nav-links,
    a.nav-link {
        display: flex;
        list-style-type: none;
        text-decoration: none;
        padding: 0 20px;
        color: var(--fill-white-transparent);
        transition: all 1s ease-in-out;
    }

    ul.nav-links:hover,
    a.nav-link:hover {
        font-weight: var(--fw-700);
        color: var(--clr-white);
    }

    a.active {
        font-weight: var(--fw-700);
        color: var(--clr-white);
        text-decoration: underline;
        transition: all 2ms ease-out;
    }

    a.active:hover {
        color: var(--clr-white);
        text-decoration: underline;
    }

    h2.email a {

        text-decoration: none;
        transition: all 1s ease-in-out;
    }

    h2.email a:hover {

        color: var(--fill-white-transparent);

    }

/* Typography Styling */

    div.h1 {
        background-color: var(--clr-imperial-primer);
    }

    h1 {
        font-size: var(--fs-heading);
        margin: 0;
        padding-left: 460px;
        line-height: 0.25;
    }

    h2.email {

        font-size: var(--fs-contact);
        /* border: 2px solid red; */
        text-align: left;
    }

/* Images Styling */

    img.profile {
        max-width: 100%;
        height: 200px;
    }


/* Layout Styling */

    header {
        background-color: var(--clr-imperial-primer);
        padding: 2em 0 5em;
    }

    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    main {
        background-color: var(--clr-dark-knight)
    }

    div.about-me {
        margin-top: 2.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    footer {

    margin-top: 6.5em;    

    }

    footer .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 4em;
        padding-top: 0.75em;
        border-top: 2px solid var(--clr-dark-blue-magenta);
    }

    div.projects {

        padding: 75px 0;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    div.project img {

        max-width: 100%;

    }

    div.project h2 {

        text-align: center;

    }

    div.h2 {

        padding-top: 50px;
        
    }

